fastapi[standard]==0.115.6
uvicorn[standard]==0.34.0
cachetools==5.5.0
dstack-sdk==0.5.3
redis==5.2.1
nv-ppcie-verifier==1.5.0
bsv-sdk>=2.0.0b1
bsv-wallet-toolbox>=2.0.1
SQLAlchemy>=2.0
requests>=2.31.0
